@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('http://fonts.cdnfonts.com/css/mexcellent');


.container{
  padding-left: 0 !important;
  padding-right: 0 !important;
}


#masthead{
  display: flex;
  height: 112px !important;
  padding-top: 0 !important;
  align-items: center;
  margin-bottom: 0 !important;
  font-family: 'Oswald';
  .site-branding{
    width: 107px !important;
    height: 64px;
    margin-right: 47px !important;
    background-image: url('http://localhost/Zoema/wordpress/wp-content/uploads/2022/07/logo-2.png') !important;
    .site-title{
      display: none !important;
    }
    .site-description{
      display: none !important;
    }
  }

  #main-menu{
    height: 56px;
    justify-content: space-around;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2D2D2D;
  }

  .up-menu{
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #2D2D2D;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    border-bottom: 1px solid #000;
    span{
      margin-left: 18px;
      margin-right: 32px;
    }
    img{
      display: inline-block;
    }
  }

  .social{
    margin-right: 16px;
    .fb{
      margin-bottom: 32px;
    }
  }
  
  #site-navigation{
    float: none;
  }

  .user{
    width: 148px;
    img{
      display: inline-block;
    }
    img:first-child{
      margin-right: 23px;
    }
  }

}

.col-full {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 0 !important;
  position: relative;
}

.form-search{
  justify-content: space-between;
  margin-top: 40px;
  border: 2px solid black;
}

.categoria{
  width: 100%;
  height: 268px;
  background-image: url('http://localhost/Zoema/wordpress/wp-content/uploads/2022/07/pattern-zoema-1-2.png');
  background-repeat: repeat;
  padding-top: 25px;
  .parallelogram{
    width: 619px;
    height: 68px;
    transform: skew(-15deg);
    background-color: #fff;
    border: 2px solid #2D2D2D;
    box-shadow: 10px 10px #2D2D2D;
    margin-bottom: 74px;
    padding: 0 60px;
    .categoria-title{
      width: 100%;
      height: 50%;
      background-color: white;
      transform: skew(15deg);
      span{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 59px;
        letter-spacing: -0.02em;
        color: #2D2D2D;
        text-transform: uppercase;
      }
    }
  }
    .new-in-dress {
      display: flex;
      justify-content: space-between;
  
      a {
        display: block;
        position: relative;
  
        img {
          width: 100%;
        }
  
        .img-hover {
          display: none;
          width: 100%;
        }
  
        .hoover {
          display: none !important;
          z-index: 99;
          position: absolute;
          top: 29px;
          left: 13px;
          font-weight: 700;
          color: #2d2d2d;
          font-family: Oswald, sans-serif;
          font-style: normal;
        }
      }
  
      a:hover {
        img {
          display: none;
        }
  
        .hoover {
          display: inline-block !important;
        }
  
        .img-hover {
          display: inline-block;
        }
      }
    }
}

.container-shop{
  display: flex;
}

.site-main {
  margin-bottom: 0 !important;
}


.hero{
  width: 100%;
  height: 600px;
  background-image: url('http://localhost/Zoema/wordpress/wp-content/uploads/2022/07/unsplash_qEfoiYoUp0I.png');
  position: relative;
  .hero-message{
    width: 1055px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mexcellent 3D';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #2D2D2D;
    position: absolute;
    top: 32px;
    left: 170px;
    background-color: #fff;
    border: 2px solid #2D2D2D;
    box-shadow: 5px 10px;
  }
}

.hero-buttons{
  position: absolute;
  bottom: 69px;
  left: 444px;
}

.btn-ab{
  padding: 16px 52px;
  background-color: #fff;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2D2D2D;
  border: 2px solid #2D2D2D;
}

.btn-ab:hover{
  background-color: #2D2D2D;
  color: white;
  border-color: white;
  a{
    color: white !important;
  }
}
  

.card-simple {
  display: inline-block;
  background-color: #fff;
  border: 1px solid rosybrown;
  position: relative;
  padding-bottom: 27px;
  .taglia{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    position: absolute;
    right: 12px;
    top: 16px;
  }
  .card-desc {
    padding-top: 16px;
    padding-left: 12px;
    position: relative;
  }

  .card-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
  }

  .card-brand {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #5C5C77;
  }

  .card-price {
    span {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: #2D2D2D;
    }

    strong {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #2D2D2D;
    }
  }

  .btn-ab {
    margin-left: 28px;
  }
}


.under-hero{
  padding-top: 45px;
  padding-bottom: 36px;
  .col-3{
    padding-left: 90px;
    p{
      text-align: start;
    }
  }
}

.promo{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #BBF1E4;
  .row{
    margin-left: auto !important;
    margin-right: auto !important;
    .col-3{
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 24px;
      max-width: 23% !important;
    }
    .card-simple:last-child{
      margin-right: 0 !important;
    }
  }
  .promo-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    -webkit-text-stroke: 2px #000;
  }

  
}


.saldi{
  width: 100%;
  min-height: 300px;
  padding-top: 24px;
  padding-bottom: 32px;
  .saldi-card{
    position: relative;
    width: 420px;
    height: 430px;
    img{
      position: absolute;
      top: 179px;
      left: 109px;
    }
    .btn-ab{
      position: absolute;
      bottom: 21px;
      left: 102px;
    }
  }
  h1{
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: -0.02em;
    background: linear-gradient(180deg, #E3EFCF 0%, #BAF5E3 7.23%, #C3B1F0 32.75%, #D9ABE6 66.08%, #F8C2D2 84.22%, #FFEFB8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-top: 77px;
    -webkit-text-stroke: 2px #000;
  }
  .acq{
    display: block;
    margin: 0 auto;
    width: min-content;
  }
}

.new-in{
  background-image: url('http://localhost/Zoema/wordpress/wp-content/uploads/2022/07/pattern-zoema-1-2.png');
  background-repeat: repeat;
  padding-bottom: 47px;
  .row{
    margin-left: auto !important;
    margin-right: auto !important;
    .col-3{
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 22px;
      margin-bottom: 22px;
      max-width: 23% !important;
    }
  }
  .new-in-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: #2D2D2D;
    padding-bottom: 56px;
    padding-top: 33px;
  }
  .new-in-dress{
    display: flex;
    justify-content: space-between;
    a{
      display: block;
      position: relative;
      img{
        width: 100%;
      }
      .img-hover{
        display: none;
        width: 100%;
      }
      .hoover{
        display: none !important;
        z-index: 99;
        position: absolute;
        top: 29px;
        left: 13px;
        font-weight: 700;
        color: #2d2d2d;
        font-family: Oswald, sans-serif;
        font-style: normal;
      }
    }
    a:hover{
      img{
        display: none;
      }
      .hoover{
        display: inline-block !important;
      }
      .img-hover{
        display: inline-block;
      }
    }
  }

  .btn-ab{
    display: block;
    margin: 27px auto 0 auto;
  }
}


.follow{
  .follow-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: #2D2D2D;
    padding-top: 42px;
    padding-bottom: 31px;
  }
  p{
    font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #5C5C77;
  }
}

.follow{
  padding-bottom: 27px;
  .follow-img{
    width: 282px;
  }
  .btn-ab{
    display: block;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }
}

#colophon{
  background-color: #2D2D2D;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  .container{
    display: flex;
    .left-footer{
      width: 50%;
      padding-top: 36px;
      .footer-title{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.02em;
        color: #EEF2F5;
        margin-bottom: 16px;
      }
      .footer-subtitle{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #EEF2F5;
        margin-bottom: 27px;
      }

      .footer-input{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 52px 16px 32px;
        gap: 8px;
        width: 402px;
        height: 56px;
        background: #FFFFFF;
        border: 2px solid #2D2D2D;
        margin-bottom: 14px;
      }

      .last-section{
        display: flex;
        justify-content: space-between;
        margin-top: 36px;
        .language{
          h2{
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #EEF2F5;
          }

          .ita{
            font-family: 'Oswald';
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #EEF2F5;
              text-decoration: none;
            a{
              font-family: 'Oswald';
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #EEF2F5;
              text-decoration: none;
            }
          }

          .eng{
            a{
              font-family: 'Oswald';
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #C9C9C9;
              opacity: 0.5;

            }
          }
        }
        .follow-zoema{
          .title{
            h2{
              font-family: 'Oswald';
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #EEF2F5;
            }
          }
        }

        .philosophy{
          h2{
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #EEF2F5;
          }

          .btn-ab{
            background-color:#2D2D2D;
            border-color: #BFCDEB;
            color: #BFCDEB;
          }

          .btn-ab:hover{
            background-color: #BFCDEB;
            color: #2D2D2D;
          }
        }

      }
    }
    .right-footer{
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      padding-left: 120px;
      padding-top: 36px;
      .right-footer-icon{
        width: 21%;
        margin-right: 80px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4{
          font-family: 'Oswald';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #EEF2F5;
          margin-top: 18px;
          text-align: center
        }
      }
    }
  }
}

.storefront-sorting{
  display: none;
}

.storefront-breadcrumb{
  display: none;
}

.products{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-left: 2% !important;
  margin-right: 0 !important;
  margin-top: 40px;
}

.type-product{
  width: 30% !important;
}


/* card simple per shop*/

.card-simple-product {
  display: inline-block;
  width: 30%;
  max-height: 493px;
  background-color: #fff;
  border: 1px solid rosybrown;
  position: relative;
  padding-bottom: 27px;
  margin-right: 24px;
  margin-bottom: 24px;

  .taglia {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    position: absolute;
    right: 12px;
    top: 16px;
  }

  .card-desc {
    padding-top: 16px;
    padding-left: 12px;
    position: relative;
  }

    .card-title {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #2D2D2D;
    }
  
    .card-brand {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #5C5C77;
    }
  
    .card-price {
      span {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #2D2D2D;
      }
  
      strong {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #2D2D2D;
      }
    }

  

  .btn-ab {
    display: inline-block;
  }
}


.container-product-detail{
  display: flex;
  padding-top: 64px;
  .product-photo-detail{
    width: 48%;
    margin-right: 2%;
    .size-woocommerce_thumbnail{
      width: 100% !important;
    }
  }
  .product-description-detail{
    width: 50%;
    .product-description-title{
      font-family: 'Mexcellent';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.02em;
      color: #2D2D2D;
      margin-bottom: 4px;
    }

    .product-description-brand{
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.02em;
      color: #5C5C77;
      margin-bottom: 24px;
    }

    .product-description-price{
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.02em;
      color: #2D2D2D;
      margin-bottom: 4px;
    }

    .product-description-tail{
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.02em;
      color: #2D2D2D;
      padding-bottom: 24px;
    }

      .single_add_to_cart_button{
        display: inline-block;
        margin-left: 200px;
        width: 174px;
        height: 56px;
        padding: 1px 39px !important;
        background-color: #fff!important;
        font-family: 'Oswald' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        letter-spacing: 0.04em !important;
        text-transform: uppercase !important;
        color: #2D2D2D !important;
        border: 2px solid #2D2D2D !important;
      }
    

    .under-desc{
      justify-content: space-around;
      border-top: 1px dashed #CEAEEB;
      .under-desc-icon{
        padding-top: 50px;
        img{
          margin: 0 auto;
        }
        h4{
          font-family: 'Oswald';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #CEAEEB;
        }
      }
    }

    .under-desc-detail{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #5C5C77;
      margin-top: 50px;
    }
  }
}


.container-outfit{
  .outfit{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: #2D2D2D;
    padding-top: 42px;
    padding-bottom: 31px;
  }
  .row {
    margin-left: auto !important;
    margin-right: auto !important;

    .col-3 {
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 22px;
      margin-bottom: 22px;
      max-width: 23% !important;
    }
  }

}
.woocommerce-cart-form{
  display: inline-block;
  width: 34%;
  margin-top: 48px;
}

    .user-info {
      width: 65%;
      display: inline-block;
      .btn-ab {
        width: fit-content;
        display: block;
        text-decoration: none !important;
        color: black;
      }
      .btn-ab:hover {
        color: white !important;
      }
  
      form {
        .input-checkout {
          width: 45%;
          background-color: #FFF;
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: #C9C9C9;
          padding: 16px 52px 16px 32px;
          gap: 8px;
          border: 2px solid #2D2D2D;
          margin-bottom: 17px;
          margin-right: 30px;
          display: inline-block;
        }
  
        .back {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-decoration-line: underline;
          color: #2D2D2D;
        }
      }
    }

.container-checkout{
  padding-bottom: 100px;
  .user-info{
    width: 65%;
    .btn-ab{
      width: fit-content;
    }
    form{
      .input-checkout{
        width: 45%;
        background-color: #FFF;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #C9C9C9;
        padding: 16px 52px 16px 32px;
        gap: 8px;
        border: 2px solid #2D2D2D;
        margin-bottom: 17px;
        margin-right: 30px;
      }
      .back{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #2D2D2D;
      }
    }
  }

  .cart-ab{
    border: 2px solid #2D2D2D;
    width: 35%;
    background-color: #BBF1E4;
    font-family: 'Work Sans';
    padding-top: 36px;
    padding-bottom: 40px;
    h1{
      margin-left: 28px;
      margin-bottom: 148px;
      font-family: 'Mexcellent 3D';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.02em;
      color: #2D2D2D;
    }

    .cart-products{
      border-top: 1px dashed #444A4E;
      border-bottom: 1px dashed #444A4E;
      padding: 40px 16px;
      .modello{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
      
      
        /* secondary brand */
      
        color: #2D2D2D;
      }
      .marca{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #5C5C77;
        opacity: 0.6;
        margin-bottom: 8px;
      }
      .prezzo{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #2D2D2D;
        float: left;
      }
      .cancella{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #5C5C77;
        float: right;
      }
    }

    .cart-price{
      padding: 40px 16px;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #444A4E;
      span:nth-child(2){
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #2D2D2D;
      }
      span:nth-child(5) {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #2D2D2D;
      }

      span:nth-child(9) {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
      
        letter-spacing: -0.02em;
      
        /* Tertiary brand */
      
        color: #444A4E;
        float: left;
      }

      span:nth-child(10) {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
      
        letter-spacing: -0.02em;
      
        /* Tertiary brand */
      
        color: #444A4E;
        float: right;
      }

      h3{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #2D2D2D;
        margin-top: 56px;
        margin-bottom: 15px;
      }

      .coupon{
        background-color: #fff;
        border: 2px solid #2D2D2D;
      }

      .btn-ab{
        margin-left: 199px;
        margin-top: 14px;
        margin-bottom: 61px;
        width: 165px;
        height: 56px;
        padding: 16px 49px;
      }
    }
  }


}


.container-shipping{
  .input-checkout {
    width: 25%;
    background-color: #FFF;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #C9C9C9;
    padding: 16px 52px 16px 32px;
    gap: 8px;
    border: 2px solid #2D2D2D;
    margin-bottom: 17px;
    margin-right: 30px;
  }

}

.container-payment{
  display: none;
}

.payment-bc{
  display: none;
}

.payment{
  display: none;
}

.review{
  display: none;
}


.review-container{
  display: none;
}



.container-pagamento {
  .input-checkout {
    width: 25%;
    background-color: #FFF;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #C9C9C9;
    padding: 16px 52px 16px 32px;
    gap: 8px;
    border: 2px solid #2D2D2D;
    margin-bottom: 17px;
    margin-right: 30px;
  }

}


//              carrellooooooooooooooooooo

    .cart-ab {
      border: 2px solid #2D2D2D;
      width: 100%;
      margin-right: 0 !important;
      background-color: #BBF1E4;
      font-family: 'Work Sans';
      padding-top: 36px;
      padding-bottom: 40px;
      display: inline-block;
  
      h1 {
        margin-left: 28px;
        margin-bottom: 148px;
        font-family: 'Mexcellent 3D';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;
        color: #2D2D2D;
      }
  
      .cart-products {
        border-top: 1px dashed #444A4E;
        border-bottom: 1px dashed #444A4E;
        padding: 40px 16px;
  
        .modello {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #2D2D2D;
          a{
            text-decoration: none;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #2D2D2D;
          }
        }
  
        .marca {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: #5C5C77;
          opacity: 0.6;
          margin-bottom: 8px;
        }
  
        .prezzo {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #2D2D2D;
          float: left;
        }
  
        .cancella {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: #5C5C77;
          float: right;
        }
      }
  
      .cart-price {
        padding: 40px 16px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #444A4E;
  
        span:nth-child(2) {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-align: right;
          color: #2D2D2D;
        }
  
        span:nth-child(5) {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-align: right;
          color: #2D2D2D;
        }
  
        span:nth-child(9) {
          font-family: 'Oswald';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          /* identical to box height */
  
          letter-spacing: -0.02em;
  
          /* Tertiary brand */
  
          color: #444A4E;
          float: left;
        }
  
        span:nth-child(10) {
          font-family: 'Oswald';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          /* identical to box height */
  
          letter-spacing: -0.02em;
  
          /* Tertiary brand */
  
          color: #444A4E;
          float: right;
        }
  
        h3 {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #2D2D2D;
          margin-top: 56px;
          margin-bottom: 15px;
        }

        .title-coupon{
          text-transform: uppercase;
          font-family: 'Oswald';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #2D2D2D;
          margin-top: 56px;
          margin-bottom: 15px;
          margin-left: 0;
        }
  
        .coupon {
          background-color: #fff;
          border: 2px solid #2D2D2D;
        }
  
        .btn-ab {
          margin-left: 199px;
          margin-top: 14px;
          margin-bottom: 61px;
          width: 165px;
          height: 56px;
          padding: 16px 49px;
          display: block;
        }
      }
            .cart-price-cart {
              padding: 40px 0px !important;
            }
    }

    .filter{
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 270px;
      justify-content: space-between;
      top: 300px;
      border: 2px solid black;
    }

    #top{
      position: fixed;
      top: 30%;
      background: linear-gradient(180deg, #e3efcf, #baf5e3 7.23%, #c3b1f0 32.75%, #d9abe6 66.08%, #f8c2d2 84.22%, #ffefb8);
      width: 72px;
      height: 72px;
      border: 2px solid #2d2d2d;
      z-index: 4;
      right: 7.7%;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        scroll-behavior: smooth;
      }
    }

  
.woocommerce{
  display: inline-block;
}

.left-form{
  width: 560px;
  padding-left: 100px;
  padding-right: 50px;
  h2{
    font-family: 'Mexcellent 3D';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #2D2D2D;
  }
  .woocommerce-Input--text{
    background-color: #fff;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #C9C9C9;
    border: 2px solid black;
  }
  .woocommerce-LostPassword{
    font-family: 'Work Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-decoration-line: underline;
      color: #5C5C77 !important;
  }
  .woocommerce-button{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2D2D2D;
    background-color: #fff;
    border: 2px solid black;
  }
}

.right-form{
  width: 50%;
  display: inline-block;
  padding-left: 70px;
  padding-right: 75px;

  h2 {
    font-family: 'Mexcellent 3D';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #2D2D2D;
  }

  .woocommerce-Input--text {
    background-color: #fff;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #C9C9C9;
    border: 2px solid black;
  }

  .woocommerce-LostPassword {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #5C5C77 !important;
  }

  .woocommerce-button {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2D2D2D;
    background-color: #fff;
    border: 2px solid black;
  }
}

.woocommerce-MyAccount-navigation{
  width: 299px !important;
  margin-bottom: 100px;
  margin-top: 111px;
  margin-left: 70px;
  margin-right: 172px !important;
  background-color: #BBF1E4;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  ul{
    li{
      a{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #2D2D2D;
      }
    }
  }
}

.woocommerce-MyAccount-content{
  width: auto !important;
  float: none !important;
  display: inline-block;
  margin-top: 111px;
  h1{
    font-family: 'Mexcellent 3D';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #2D2D2D;
  }
}

.entry-header{
  display: none;
}


.edit-link{
  a{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #2D2D2D;
  }
}

.orders{
  padding-top: 111px;
  .tabella{
    float: right;
    h1{
      font-family: 'Mexcellent 3D';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.02em;
      color: #2D2D2D;
    }
  }
  .woocommerce-MyAccount-navigation{
    margin-right: 156px !important;
    margin-top: 0 !important;
  }
  .woocommerce-orders-table{
    width: 100% !important;
    margin: 0 0 0 0;
  }
}

.the_champ_sharing_container{
  display: none !important;
}


.storefront-full-width-content{
  margin-bottom: 0 !important;
}

.hentry{
  margin-bottom: 0 !important;
}

.shipping-title{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #444A4E;
}

$midnight: #2c3e50;
$clouds: #ecf0f1;

/* Accordion styles */
.tabs {
  width: 25%;
}

.tab {
  width: 100%;
  border-bottom: 2px dashed grey;
  overflow: hidden;
  .tab-check{
    opacity: 0;
  }

  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2D2D2D;
    /* Icon */
    

    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all .35s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;

  }
}

.last-tab{
  border-bottom: 0;
}

// :checked
input:checked {
  +.tab-label {

    &::after {
      transform: rotate(90deg);
    }
  }

  ~.tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

.cart-link{
  position: relative;
}
.cart-count{
  position: absolute;
  left: 10px;
  top: -6px;
  background: #2d2d2d;
  border-radius: 100%;
  color: #fff;
  width: 22px;
  height: 22px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  font-family: Work Sans, sans-serif;
  z-index: 100;
}

.cart-count-full{
  left: 26px !important;
  z-index: 101;
}


// checkout time line

.container-timeline{
  position: relative;
}
.timeline-line{
  width: 48px;
  height: 48px;
  display: inline-block;
  padding-top: 7px;

  .line{
    width: 100%;
    height: 2px;
    background-color: #5C5C77;
  }
  .line.check{
    background-color: rgb(96, 192, 196) !important;
  }
}

.timeline-item{
  display: inline-block;
  img{
    margin: 0 auto;
  }
  span{
    text-align: center;
  }
}

.timeline-line.second{
  width: 150px;
}

.timeline-line.third {
  width: 150px;
}

.timeline-line.fourth {
  width: 150px;
}

.timeline-line.fifth {
  width: 150px;
}



.woocommerce-billing-fields{
  h3{
    display: none;
  }
  label{
    display:none !important;
  }
  .woocommerce-input-wrapper{
    border: 2px solid black;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #C9C9C9;
    width: 48% !important;  
  }
  #billing_first_name_field{
    width: 100%;
  }
  #billing_last_name_field{
    width: 100%;
  }

    .form-row-first{
      margin-right: 0 !important;
    }
}


.billing-title{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #444A4E;
  margin-bottom: 34px;
}

.title-billing{
  margin-bottom: 34px;
}


.woocommerce-info{
  display: none !important;
}

.checkout.woocommerce-checkout{
  .input-checkout {
      background-color: #FFF;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: #C9C9C9;
      padding: 16px 52px 16px 32px;
      gap: 8px;
      border: 2px solid #2D2D2D;
      margin-bottom: 17px;
      margin-right: 30px;
    }
}